#contact-success {
  color: var(--text-color, #ececec);
}


#success-message {
  background: linear-gradient(to right, #24116f44, #392e8f35);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;

  background: linear-gradient(to right,  #24116f1c, #392e8f35)
      padding-box,
    linear-gradient(to left,   #24116f1c, #392e8f35) border-box;
  border: 2px solid transparent;
  color: white;
  box-shadow: inset 0px 2px 8px rgba(150, 139, 232, 0.756);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px); /* Safari */
  pointer-events: none;  
}

#return-home-btn {
  background: linear-gradient(to right, var(--accent), var(--primary))
      padding-box,
    linear-gradient(to right, var(--deep-purple), var(--dark-purple)) border-box;
  border-radius: 3rem;
  padding: 8px 30px;
  font-weight: 500;
  color: white;
  box-shadow: inset 0px 2px 8px rgba(150, 139, 232, 0.756);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#return-home-btn:hover {
  transform: scale(1.04);
  box-shadow: inset 1px -2px 8px rgba(150, 139, 232, 0.35);
}