/* Landing */
#home-landing {
  background-image: url("../assets/home-landing.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.mouse-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, #6a48d00d 0%, transparent 60%);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.18s ease;
}

#build-button {
  background: linear-gradient(to right, var(--dark-purple), var(--accent))
      padding-box,
    linear-gradient(to right, var(--secondary), var(--primary)) border-box;
  border: 2px solid transparent;
  border-radius: 3rem;
  padding: 5px 25px;
  font-weight: 500;
  box-shadow: inset 0px 3px 8px rgba(150, 139, 232, 0.25);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#build-button:hover {
  transform: scale(1.04);
  box-shadow: inset 1px -2px 8px rgba(150, 139, 232, 0.35);
}

/* What We Do */
#learn-more-button {
  background: linear-gradient(to right, var(--accent), var(--primary))
      padding-box,
    linear-gradient(to right, var(--secondary), var(--primary)) border-box;
  border: 2px solid transparent;
  border-radius: 3rem;
  padding: 5px 25px;
  font-weight: 500;
  color: white;
  box-shadow: inset 0px 2px 8px rgba(150, 139, 232, 0.756);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#learn-more-button:hover {
  transform: scale(1.04);
  box-shadow: inset 1px -2px 8px rgba(150, 139, 232, 0.35);
}

/* Our Approach */
#home-our-approach {
  background: linear-gradient(
    to bottom,
    var(--deep-purple),
    var(--dark-purple)
  );

}

.our-approach-image {
  border-radius: 1rem;
}

.image-container {
  position: relative;
  border-radius: 1rem;

  background: url("../assets/our-approach.png");
  background-size: contain;
  box-shadow: inset 1px -2px 8px rgba(150, 139, 232, 0.35);
}

.inner-shadow {
  position: absolute;
  border-radius: 1rem;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset 0px 4px 18px rgba(227, 209, 253, 0.558);
  pointer-events: none; 
}

/* Why Choose Tessera */
#home-why-choose-tessera {
  background: linear-gradient(to bottom, var(--black), var(--background));
  
}

.tessera-tile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  width: 150px;
  padding: 15px 30px;
  border-radius: 0.5rem;
  background: linear-gradient(to right, var(--accent), var(--dark-purple));
  box-shadow: inset 0px 3px 5px var(--secondary);
}